<!DOCTYPE html>
<html>
<head>
    <title>Youtube  API reference</title>
</head>
<body>
    <pre>Youtube API: endpoint reference
All responses are in JSON

REQUEST: /
GET parameter:
	trending_date (Optional, default: 18.31.05)
RESPONSE: a JSON list of dictionaires, each of which representes a trending video on the user specified date. 
Each video dictionary will have the following fields.
	link: (string) a unique id that is part of the video link
	title: (string) the title of the video
	channel: (string) the channel of the videomy
	pulish time: (string) the publish time of the video
	views: (int) the number of views of the video
	likes: (int) the number likes of the video
	dislikes (int) the number of dislikes of the video
	comments: (int) the number of comments of the video
	thumbnail_link: (string) the link to the video thumbnail

REQUEST: /help
RESPONSE:
    This message

REQUEST: /sign-up
GET parameter:
	user_name
RESPONSE: a success code if the username is not taken, else an error code 

REQUEST: /log-in
GET parameter:
	user_name
RESPONSE: a success code and user information if the username exists, else an error code

REQUEST: /save-to-playlist
RESPONSE: a success code if the video is not in the playlist and saved successfully, else an error code

REQUEST: /my-page
GET parameter
	user {Optional, default=None}
RESPONSE: a JSON array of arrays, each of which represents a playlist. Each playlist array is a JSON list of dictionaries, each of represents a video.
    </pre>
</body>
</html>

