<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="../static/webapp.css" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
        <link rel="shortcut icon" href="../static/favicon.ico" />
        <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script>
        <script type="text/javascript" src="../static/webapp.js"></script>
        <title>YouTube Trending Videos</title>
    </head>

    <body>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
        
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div id="header_box" class="container-fluid">
                <div id="header_title_box" class="">
                    <a id="header_title" class="navbar-brand" href="/">YouTube Trending Videos</a>
                </div>
                <div id="header_user_box" class="">
                    <button class="button btn btn-outline-success" id="logIn" type="button" data-bs-toggle="modal" data-bs-target="#logInModal">Log in</button>
                    <button class="button btn btn-outline-success" id="signUp" type="button" data-bs-toggle="modal" data-bs-target="#signUpModal">Sign up</button>
                    <a href="myPage.html" class="text-decoration-none">
                        <button hidden class="button btn btn-outline-success" id="myPage" type="button">My page</button>
                    </a>
                    <button hidden class="button btn btn-outline-success" id="logOut" type="button">Log out</button>
                </div>
            </div>
        </nav>

        <!-- <div class="clear"></div> -->

        <div id="now_trending_box" class="container-fluid">
            <div id="now_trending_header_box" class="row align-items-center">
                <div id="now_trending_header_title_box" class="col-3">
                    <h4 id="now_trending_header_title">Trending Videos</h4>
                </div>
                <!-- <div id="search_trending_time_box" class="col-4 row align-items-center "> -->
                <div id="search_trending_time_box" class="col-4">
                    <label id="serach_input_label" for="search_input">Choose a date:</label>
                    <form name="search_input" id="search_input" action="/action_page.php" method='GET'>
                        <select name="year-list" id="year-list">
                            <option value="" selected="selected">year</option>
                        </select>
                        <select name="month-list" id="month-list">
                            <option value="" selected="selected">month</option>
                        </select>
                        <select name="day-list" id="day-list">
                            <option value="" selected="selected">day</option>
                        </select>
                        <button id="search_trending_time_button" class="col btn btn-sm btn-secondary" type="button">Search</button>
                    </form>
                </div>
                <div id="view_buttons_box" class="col">
                    <button class="view_button btn btn-sm btn" id="vertical" type="button">
                        <img src="../static/imgs/list.png" width="25px" height="25px" alt="list">
                    </button>
                    <button class="view_button btn btn-sm btn" id="horizontal" type="button">
                        <img src="../static/imgs/grid.png" width="25px" height="25px" alt="grid">
                    </button>
                </div>
            </div>

            <div id="now_trending_videos_box" class="justify-content-center">

                <div id="now_trending_videos_list_box" class="align-self-center">
                    <div id="now_trending_videos_list_1" class="row justify-content-center"></div>
                    <div id="now_trending_videos_list_2" class="row justify-content-center"></div>

                    <div id="vertical-table-box" class="table-responsive">

                        <table id="dtHorizontalVerticalExample" class="table table-striped table-bordered table-sm table-hover" cellspacing="0" width="100%">
                            <thead>
                                <tr>
                                  <th>Title</th>
                                  <th>Channel</th>
                                  <th>Publish time</th>
                                  <th>Views</th>
                                  <th>Likes</th>
                                  <th>Dislikes</th>
                                  <th>Comments</th>
                                  <th>Save to playlist</th>
                                </tr>
                            </thead>
                            <tbody id="vertical-table-body">
                            </tbody>
                        </table>
                    </div>
                </div>

                <nav aria-label="Page navigation example" id="page-nav" class="">
                    <button class="now_videos_button btn btn-sm btn-secondary" id="prev_button" type="button">prev</button>

                    <ul id="vertical-videos-list" class="pagination"></ul>

                    <button class="now_videos_button btn btn-sm btn-secondary" id="next_button" type="button">next</button>

                </nav>
            </div>
        </div>

        <!-- Sign up modal -->
        <div class="modal" id="signUpModal" tabindex="-1" aria-labelledby="signUpModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="signUpModalLabel">Sign up</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="signUpMsg"></p>
                        <input type="text" id="signUp_input" placeholder="username"/>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-signup-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="sign-up-submit">Sign up</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Login in modal -->
        <div class="modal" id="logInModal" tabindex="-1" aria-labelledby="logInModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="logInModalLabel">Log in</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <p id="logInMsg"></p>
                        <input type="text" id="logIn_input" placeholder="username" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-login-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="log-in-submit">Log in</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- Save-to-playlist modal -->
        <div class="modal" id="saveToPlaylistModal" tabindex="-1" aria-labelledby="saveToPlaylistLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="saveToPlaylistLabel">Save to my playlist</h5>
                        <button type="button" class="btn-close" id="close-save-modal" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row flex-column">
                        <div class="col d-flex justify-content-start align-items-start">
                            <p id="saveToPlaylistMsg" class="playlistModalMsg">Choose your playlist</p>
                            <form name="playlist-form" id="playlist-form" action="/action_page.php" method='GET'>
                                <select name="playlist-options" id="playlist-options"></select>
                                <button type="button" class="btn btn-primary" id="save-to-submit">Save</button>
                            </form>
                        </div>
                        <p id="saveToPlaylistAlert" class = "alarming"></p>
                        <p>or</p>
                        <button class="button btn btn-outline-success" id="createPlaylist" type="button" data-bs-toggle="modal" data-bs-target="#createPlaylistModal">Create a new playlist</button>
                    </div>
                    <div class="modal-footer">
                        <!-- <button type="button" class="btn btn-secondary" id="close-save-modal" data-bs-dismiss="modal">Close</button> -->
                        <button type="button" class="btn btn-primary" id="save-to-submit1">Save</button>
                    </div>
                </div>
            </div>
        </div>
        
        <!-- Create-playlist modal -->
        <div class="modal" id="createPlaylistModal" tabindex="-1" aria-labelledby="createPlaylistLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="createPlaylistTitle">Create a new playlist</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body row flex-column">
                        <div class="col d-flex justify-content-start align-items-start">
                            <p id="createPlaylistMsg" class="playlistModalMsg">Name your playlist</p>
                            <input type="text" id="playlist_input" placeholder="playlist" />
                        </div>
                    </div>
                    <p id="createPlaylistAlert" class = "alarming"></p>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" id="close-create-modal" data-bs-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary" id="create-playlist-submit">Save</button>
                    </div>
                </div>
            </div>
        </div>

        <div id="alert_box"></div>
        
        <!-- <div>Icons made by <a href="https://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/gregor-cresnar" title="Gregor Cresnar">Gregor Cresnar</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
        <!-- <div>Icons made by <a href="https://www.flaticon.com/authors/kiranshastry" title="Kiranshastry">Kiranshastry</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div> -->
    </body>
</html>
